@model EDIS.Areas.BMED.Models.BuyEvaluateModels.BuyEvaluateModel

@{
    ViewBag.Title = "採購評估/編輯";
}

<h2>採購評估/編輯</h2>

<fieldset>

    <div style="margin-bottom: 10px">
        @await Html.PartialAsync("_AttainFile", Model)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.DocId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Contact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.AccDpt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccDpt)
        @Html.DisplayFor(model => model.AccDptNam)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PlantType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlantType)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.BudgetId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BudgetId)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.PlantCnam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlantCnam)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PlantEnam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlantEnam)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Amt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amt)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Unit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unit)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.TotalPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPrice)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Place)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Place)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.EngId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EngName)
    </div>
    <div id="pnlUSUAL">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Standard)
        </div>
        <div class="display-field">
            <pre>
                @Html.DisplayFor(model => model.Standard)
            </pre>
        </div>
    </div>
    <div id="pnlMEDMGR">
        <div class="display-label">
            @Html.LabelFor(model => model.Standard)
        </div>
        <div class="display-field">
            @Html.TextAreaFor(model => model.Standard, new { @id = "Standard2", @readonly = "readonly" })
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.IsAgree)
        </div>
        <div class="display-field">
            @Html.CheckBoxFor(model => model.IsAgree)
        </div>
    </div>
    <div id="pnlMEDENG">
        <h2>
            設備工程師專區
        </h2>
        <div style="margin-left: 20px">
            <div class="editor-label">
                @Html.LabelFor(model => model.GrpOpin)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.GrpOpin, new { disabled = "disabled" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Opinion)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Opinion, new { disabled = "disabled" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Standard)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Standard)
                @Html.ValidationMessageFor(model => model.Standard)
            </div>
            <input id="btnSTANDARD" type="button" value="儲存" />
            <table>
                <tr>
                    <th>
                        序號
                    </th>
                    <th>
                        摘要
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>評核表</td>
                    <td>
                        <a class="button" href="@Url.Content("~/BMED/AttainFile/Create?id=" + Model.DocId + "&typ=3&title=評核表")"
                           id="FileChooseLink1">夾帶檔案</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>議價規範</td>
                    <td>
                        <a class="button" href="@Url.Content("~/BMED/AttainFile/Create?id=" + Model.DocId + "&typ=3&title=議價規範")"
                           id="FileChooseLink2">夾帶檔案</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="pnlBUYVENDOR">
        <div>
            @Html.ActionLink("修改資料", "Update", new { id = Model.DocId }, new { @class = "button", target = "_blank" })
        </div>
        <div>
            @Html.Action("Edit", "BuyVendor", new { id = Model.DocId })
        </div>
        <div id="BuyVendorPanel">
            @Html.Action("Index", "BuyVendor", new { id = Model.DocId })
        </div>
    </div>
    <div>
        @Html.Action("GetList", "BuyFlow", new { id = Model.DocId, sid = Model.DocSid })
    </div>
    <div id="pnlSList">
        @Html.Action("GetSList", "BuyFlow", new { id = Model.DocId })
    </div>
    <div>
        @Html.Action("NextFlow", "BuyFlow", new { id = Model.DocId, sid = Model.DocSid })
    </div>
</fieldset>

<div>
    @Html.ActionLink("回到列表", "Index", "Home", new { Area = "" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/VendorChoose.js")
    @Scripts.Render("~/Scripts/BuyNextFlow.js")
    @Scripts.Render("~/Scripts/FileChoose2.js")
}
